.dimensions {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  width: 300px;
  flex-direction: column;
  gap: .5rem;
}

.label-group {
  display: flex;
  justify-content: space-between;
}

.export {
  position: absolute;
  top: 10px;
  right: 10px;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tile-row {
  display: flex;
}

.tile {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.main-tile {
  border: 1px solid #fff;
}

.tile-selected {
  background-color: rgba(255, 255, 255, 0.3);
}

.tile-start,
.tile-end,
.tile-blocked {
  display: grid;
  place-items: center;
  font-size: 40px;
}

.tile-blocked {
  color: red;
}

.tile-picker {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.tile-rotation {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 1rem;
}