.dimensions {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  width: 300px;
  flex-direction: column;
  gap: .5rem;
}

.label-group {
  display: flex;
  justify-content: space-between;
}

.export {
  position: absolute;
  top: 10px;
  right: 10px;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tile-row {
  display: flex;
}

.tile {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.main-tile {
  border: 1px solid #fff;
}

.tile-selected {
  background-color: rgba(255, 255, 255, 0.3);
}

.tile-start,
.tile-end,
.tile-blocked {
  display: grid;
  place-items: center;
  font-size: 40px;
}

.tile-blocked {
  color: red;
}

.tile-picker {
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.tile-fisher {
  font-size: 25px;
  display: grid;
  place-items: center;
  position: relative;
}

.tile-rotation {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 1rem;
}

.fisher-inspector {
  width: 300px;
  padding: 10px;
  background: #1a1a1a;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: .5rem
}

.fisher {
  position: absolute;
  pointer-events: none;
  display: flex;
  gap: 2px;
}

.fisher-0, .fisher-2 {
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
}

.fisher-1, .fisher-3 {
  flex-direction: row;
  left: 50%;
  transform: translateX(-50%);
}

.fisher-0 {
  left: 2px;
}

.fisher-1 {
  top: 2px;
}

.fisher-2 {
  right: 2px;
}

.fisher-3 {
  bottom: 2px;
}

.fisher-dot {
  width: 3px;
  height: 3px;
  background: white;
}